.cloudTableAuto{
    width:1000px;
    margin:20px auto;
    font-family: "微软雅黑";
    
  }
 .cloudTable_header tr {
    background-color: #01B343;
  }
  
 .cloudTable_body  tr td {
    height: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }


 
  

 